
       /* Full Calendar External styles */

.custom-calendar .fc-toolbar-title {
  color: #bd1515 !important;
}

.custom-calendar .fc-button {
  border: none;
  background-color: #bd1515 !important;
  color: white !important;
}

.custom-calendar .fc-button:hover {
  transform: scale(1.07);
  border-radius: 5px;
  transition: 1000ms;
}

.custom-calendar .fc-daygrid-day-number {
  color: black !important;
  /* White day numbers */
  font-size: large;
  border: none;
  font-family: sans-serif;
}

.fc-daygrid-body {
  position: relative;
  z-index: 1;
}

.fc-daygrid-day {
  background-color: white;
}

.fc-col-header-cell {
  background-color: #ffffff;
  color: #ffffff; 
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.fc-daygrid-day {
  background-color: #f9f9f9;
  padding: 15px;
  text-align: center;
  vertical-align: top;
}

.fc-daygrid-day-number {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}

.fc-day-today {
  background-color: #f9f9f9 !important; 
  font-weight: bold;
}

.fc-scrollgrid a {
  text-decoration: none;
  color: #bd1515;
}

.fc-daygrid-event-dot{
  margin: 0px;
  border-top: 30px solid #bd1515 !important;
  border: calc(var(--fc-daygrid-event-dot-width) / 2) solid #bd1515;
  border-radius: unset !important;
}

.fc-event{
  border-radius: 10px;
  overflow: hidden;
  border: unset;
  align-items: center;
}

.fc-event .fc-event-main{
  background-color: rgb(236 175 175 / 95%);
}

.fc .fc-daygrid-event {
  margin-left: 0px !important;
  z-index: 6;
  background-color: rgb(236 175 175 / 95%);
}

.fc-daygrid-event{
  border-radius: 10px !important;
  padding: 0px;
  overflow: hidden;
}

.fc-event-time{
  justify-content: center;
  margin-left: 15px;
  color: black;
  text-transform: uppercase;
  font-weight: 400;
}

.fc-event-title{
  align-items: center;
  color: black;
  margin-left: 15px;
  font-weight: 400;
}

.fc-daygrid-dot-event .fc-event-title{
  font-weight: 500;
}

.fc-event-main-frame:before {
  content: "";
  width: 10px;
  background: #bd1515;
  z-index: 5;
  display: block;
  position: absolute;
  height: 100%;
}
.fc-event-main-frame{
  border-radius: 20px;
}

.fc-day-today .fc-daygrid-day-frame.fc-scrollgrid-sync-inner{
  background-color: white;
  border: 2px solid#bd1515;
}

        /* Bootstrap external overwrite styles */

.form-control:focus{
  border-color: #bd1515 !important; /* Bootstrap 'danger' color */
  box-shadow: 0 0 0 0.25rem rgba(214, 69, 84, 0.473) !important;
}

.form-select:focus {
  border-color: #bd1515 !important; /* Bootstrap 'danger' color */
  box-shadow: 0 0 0 0.25rem rgba(214, 69, 84, 0.473) !important;
}

       /* Datepicker external style Css */

.react-datepicker__day--selected, 
.react-datepicker__day--in-selecting-range, 
.react-datepicker__day--in-range, 
.react-datepicker__month-text--selected, 
.react-datepicker__month-text--in-selecting-range, 
.react-datepicker__month-text--in-range, 
.react-datepicker__quarter-text--selected, 
.react-datepicker__quarter-text--in-selecting-range, 
.react-datepicker__quarter-text--in-range, 
.react-datepicker__year-text--selected, 
.react-datepicker__year-text--in-selecting-range, 
.react-datepicker__year-text--in-range {
  background-color: #bd1515 !important;
}

.react-datepicker__day--keyboard-selected, 
.react-datepicker__month-text--keyboard-selected, 
.react-datepicker__quarter-text--keyboard-selected, 
.react-datepicker__year-text--keyboard-selected {
  background-color: rgb(233 164 150) !important;
}
